<div class="row pb-3 pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <h3 class="card-title">Title</h3>
                <p class="card-text">Text</p> -->
                <accordion [isAnimated]="true">
                    <accordion-group heading="ร้อยละของผู้ป่วยโรคซึมเศร้าเข้าถึงบริการ">
                        <app-kpi-mdd></app-kpi-mdd>
                    </accordion-group>
                    <accordion-group heading="อัตราการฆ่าตัวตายสำเร็จ">
                        <app-kpi-suicide></app-kpi-suicide>
                    </accordion-group>                   
                </accordion>
            </div>
        </div>
    </div>

</div>