<div class="row pb-3 pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <h3 class="card-title">Title</h3>
                <p class="card-text">Text</p> -->
                <accordion [isAnimated]="true">
                    <accordion-group heading="ร้อยละของผู้ป่วยโรคซึมเศร้า เข้าถึงบริการ">
                        <app-kpi-mdd></app-kpi-mdd>
                    </accordion-group>
                    <accordion-group heading="ร้อยละของจังหวัดที่ผู้ป่วยโรคซึมเศร้าเข้าถึงบริการได้ตามเกณฑ์">
                       <app-kpi-mdd-ahb></app-kpi-mdd-ahb>
                    </accordion-group>
                    <accordion-group heading="Fullremission">
                        <p>Some content</p>
                    </accordion-group>
                    <accordion-group heading="จำนวนงานวิจัย องค์ความรู้และเทคโนโลยีด้านโรคซึมเศร้า">
                        <p>Some content</p>
                    </accordion-group>
                    <accordion-group heading="อัตราเสียชีวิตของผู้ป่วยที่รับไว้รักษาในโรงพยาบาล">
                        <p>Some content</p>
                    </accordion-group>
                    <accordion-group heading="ร้อยละของผู้ป่วยจิตเวชที่เข้ารับบริการเฉพาะทางมีการเปลี่ยนแปลงดีขึ้นโดยใช้ CGI">
                        <p>Some content</p>
                    </accordion-group>
                    <accordion-group heading="ร้อยละของผู้ป่วยจิตเวชที่มีความเสี่ยงสูงต่อการก่อความรุนแรงไม่กลับไปก่อคดี/ความรุนแรงซ้ำ SMI-V">
                        <p>Some content</p>
                    </accordion-group>
                    <accordion-group
                        heading="ร้อยละของสถานบริการสธ.ทุกระดับในกระทรวงสธ. มีบริการสุขภาพจิตและจิตเวชที่มีคุณภาพมาตรฐานในระดับ 1 ทุกด้าน ">
                        <p>Some content</p>
                    </accordion-group>
                    <accordion-group heading="ค่าคะแนนตามเกณฑ์การประเมินคุณธรรม ความโปร่งใส (ITA)">
                        <p>Some content</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>

</div>