<div class="row pb-3 pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <h3 class="card-title">Title</h3>
                <p class="card-text">Text</p> -->
                <accordion [isAnimated]="true">
                    <accordion-group heading="ร้อยละของจังหวัดในเขตสุขภาพที่มีค่าเข้าถึงบริการของผู้ป่่วยโรคจิตเภทผ่านเป้าหมาย รอ้ยละ 75">
                       <app-kpi-psy-ahb></app-kpi-psy-ahb>
                    </accordion-group>
                    <accordion-group heading="ร้อยละของจังหวัดในเขตสุขภาพที่มีค่าการเข้าถึงบริการโรคซึมเศร้าผ่านเป้าหมายร้อยละ 68">
                       <app-kpi-mdd></app-kpi-mdd>
                    </accordion-group>
                    <accordion-group heading="ร้อยละของผู้ป่วยซึมเศร้า Fullremission">
                        <p>Some content</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>

</div>