<div class="container-fluid">
    <table class="table ">
        <thead class="thead-inverse">
            <tr>
                <th>ลำดับ</th>
                <th>โรคซึมเศร้า</th>
                <th>จำนวน</th>
                <th>ร้อยละ</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td scope="row">1.</td>
                <td>F32</td>
                <td>12,638</td>
                <td>23.87</td>
            </tr>
            <tr>
                <td scope="row">2.</td>
                <td>F33</td>
                <td>12,498</td>
                <td>23.60</td>
            </tr>
            <tr>
                <td scope="row">3.</td>
                <td>F34</td>
                <td>4,045</td>
                <td>7.64</td>
            </tr>
            <tr>
                <td scope="row">4.</td>
                <td>F38</td>
                <td>4,139</td>
                <td>7.82</td>
            </tr>
            <tr>
                <td scope="row">5.</td>
                <td>39</td>
                <td>1,839</td>
                <td>3.47</td>
            </tr>
        </tbody>
    </table>
</div>