<div class="container-fluid">
    <div class="row pb-3 pt-3">
        <div class="col-md-3">
            <div _ngcontent-kul-c114="" class="card-counter pink">
                <i _ngcontent-kul-c114="" class="fa fa-disease"></i><span _ngcontent-kul-c114=""
                    class="count-numbers">8</span><span _ngcontent-kul-c114="" class="count-name">ตัวชี้วัดกระทรวง
                </span><span _ngcontent-kul-c114="" class="float-left"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div _ngcontent-kul-c114="" class="card-counter info"><i _ngcontent-kul-c114=""
                    class="fa fa-procedures"></i><span _ngcontent-kul-c114="" class="count-numbers">9</span><span
                    _ngcontent-kul-c114="" class="count-name">ตัวชี้วัดยุทธศาสตร์</span></div>
        </div>
        <div class="col-md-3">
            <div _ngcontent-kul-c114="" class="card-counter danger">
                <i _ngcontent-kul-c114="" class="fa fa-book-dead"></i><span _ngcontent-kul-c114=""
                    class="count-numbers">8</span><span _ngcontent-kul-c114="" class="count-name">ตัวชี้วัด
                    ตรวจราชการ</span>
            </div>
        </div>
        <div class="col-md-3">
            <div _ngcontent-kul-c114="" class="card-counter success"><i _ngcontent-kul-c114=""
                    class="fa fa-smile"></i><span _ngcontent-kul-c114="" class="count-numbers">8</span><span
                    _ngcontent-kul-c114="" class="count-name">ตัวชี้วัดตามคำรับรอง </span></div>
        </div>
    </div>
    <h5>
        สถานการภายในประเทศ
        <small _ngcontent-kul-c114=""><code _ngcontent-kul-c114="">(https://covid19api.com/)</code></small>
    </h5>
    <div class="row pb-3 pt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 _ngcontent-kul-c114="" class="card-title"><i _ngcontent-kul-c114=""
                            class="fas fa-map-marker-alt mr-1"></i> แผนที่แสดงจำนวน </h3>
                    <table class="table table-striped table-inverse table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>xxxx</th>
                                <th>xxxx</th>
                                <th>xxxx</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">xxxxx</td>
                                <td>xxxxx</td>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <td scope="row">xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div>

    <h5>
        สถานการทั่วโลก
        <small _ngcontent-kul-c114=""><code _ngcontent-kul-c114="">(https://covid19api.com/)</code></small>
    </h5>
    <div class="row pb-3 pt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div>
</div>